# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules
dist
dist-ssr
.cache/
out/


# Coverage reports
coverage/

# Build directories
build/
public/build/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary files
.eslintcache
.parcel-cache/
.next/
.turbo/

# Miscellaneous system files
.AppleDouble
.LSOverride
